<%- include("../partials/head") %>

    <%- include("../partials/nav") %>
        <div class=" mt-8">

            <a href='/host/add-home' class="border border-black p-2 rounded-2xl hover:text-yellow-400 transition">Add
                Home</a>
            <h1>here are your favourites:</h1>
        </div>
        <ul
            class="text-center m-4 list-disc flex flex-row flex-wrap w-[75%] justify-center items-center list-inside gap-6">
            <% registeredHomes.forEach((element)=> {%>

                <li class="text-center list-none transition-colors duration-300">

                    <div class="max-w-sm mx-auto bg-white rounded-xl overflow-hidden shadow-lg border border-black">
                        <img class="w-full h-48 object-cover" src="https://wallpaperaccess.com/full/1700233.jpg"
                            alt="House Image">
                        <div class="p-4">
                            <h2 class="text-xl font-semibold mb-2">Beautiful Family House</h2>
                            <div class="flex flex-wrap justify-between text-sm text-gray-600 mb-4">
                                <span><strong>Admin:</strong>
                                    <%= element.homeName %>
                                </span>
                                <span><strong>Location:</strong>
                                    <%= element.location %>
                                </span>
                                <span><strong>Price:</strong>
                                    <%= element.price %>
                                </span>
                                <span><strong>Rating:</strong> ⭐ <%= element.rating %></span>
                            </div>
                        </div>
                    </div>

                </li>
                <% }); %>
        </ul>
        <%- include("../partials/footer") %>

            </body>

            </html>